/* test import url */

/* relative path import */
@import 'blah.css';

/* absolute path import */
@import '/css/blah2.css';

/* some absolute path url() links, with font hack weirdness */
@font-face {
  font-family: 'MyFontFamily';
  src: url('/font/lato-regular-webfont.eot?#iefix') format('embedded-opentype'), 
       url('/font/lato-regular-webfont.woff') format('woff'), 
       url('/font/lato-regular-webfont.ttf') format('truetype'),
       url('/font/lato-regular-webfont.svg#svgFontName') format('svg');
}

/* a relative path url() link */
.foo {
  background-image: url(../img/background.png?foo=bar);
}
